altgraph==0.17.5
et-xmlfile==2.0.0
numpy==2.4.6
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
python-calamine==0.6.2
python-dateutil==2.9.0.post0
setuptools==82.0.1
six==1.17.0
tqdm==4.68.2
